/* tajawal-200 - arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 200;
  src: local('Tajawal ExtraLight'), local('Tajawal-ExtraLight'),
    url('../public/fonts/tajawal-v3-arabic-200.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../public/fonts/tajawal-v3-arabic-200.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* tajawal-300 - arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 300;
  src: local('Tajawal Light'), local('Tajawal-Light'),
    url('../public/fonts/tajawal-v3-arabic-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../public/fonts/tajawal-v3-arabic-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* tajawal-regular - arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: local('Tajawal'), local('Tajawal-Regular'),
    url('../public/fonts/tajawal-v3-arabic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../public/fonts/tajawal-v3-arabic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* tajawal-500 - arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 500;
  src: local('Tajawal Medium'), local('Tajawal-Medium'),
    url('../public/fonts/tajawal-v3-arabic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../public/fonts/tajawal-v3-arabic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* tajawal-700 - arabic */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  src: local('Tajawal Bold'), local('Tajawal-Bold'),
    url('../public/fonts/tajawal-v3-arabic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../public/fonts/tajawal-v3-arabic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-300 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'),
    url('../public/fonts/merriweather-v21-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../public/fonts/merriweather-v21-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
    url('../public/fonts/merriweather-v21-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../public/fonts/merriweather-v21-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
    url('../public/fonts/merriweather-v21-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../public/fonts/merriweather-v21-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-900 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'),
    url('../public/fonts/merriweather-v21-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../public/fonts/merriweather-v21-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

%btn {
  @apply leading-none text-base text-c100 font-extrabold px-16;
}

.btn-lg {
  @extend %btn;
  @apply py-8;
}

.btn-md {
  @extend %btn;
  @apply py-7;
}

.btn {
  transition: 0.1s;
}

.btn:hover {
  filter: brightness(90%);
}

.btn-sm {
  @extend %btn;
  @apply py-5;
}

.btn-card {
  @apply text-base font-extrabold bg-c300 py-6 px-24 text-c100;
}

a {
  transition: background 0.1s;
}

a:hover {
  color: #efc94c;
}

.underline {
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  display: inline-block;
  line-height: 1;
  border-bottom-width: 1px;
}

section {
  @apply py-28;
}

.container {
  width: 70%;
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 85%;
  }
}

p {
  @apply leading-loose;
}

/* Items showcase in row (works for activities and work style sections) */
.showcase-row {
  @apply flex flex-row justify-center;
}

.showcase-row__heading {
  @apply text-c100 text-md py-3 font-bold;
}