.person-card__image-container__social-icons {
  /* width: 100%;
  flex-direction: row; */
  transform: translate3d(0, 50%, 0);
}
@media screen and (min-width: 768px) {
  .person-card__image-container__social-icons {
    /* width: unset;
    height: 100%;
    flex-direction: column; */
    transform: translate3d(-50%, 0, 0);
  }
}
